<li><a href="{{ site.parameters_reference }}" class="otherLinkColour">Parameter Reference</a>
    <ul>
        <li><a href="{{ site.parameters_reference }}binarization-modes.html" class="otherLinkColour">BinarizationModes</a></li>
        <li><a href="{{ site.parameters_reference }}brightness.html" class="otherLinkColour">Brightness</a></li>
        <li><a href="{{ site.parameters_reference }}colour-channel-usage-type.html" class="otherLinkColour">ColourChannelUsageType</a></li>
        <li><a href="{{ site.parameters_reference }}colour-conversion-modes.html" class="otherLinkColour">ColourConversionModes</a></li>
        <li><a href="{{ site.parameters_reference }}colour-mode.html" class="otherLinkColour">ColourMode</a></li>
        <li><a href="{{ site.parameters_reference }}content-type.html" class="otherLinkColour">ContentType</a></li>
        <li><a href="{{ site.parameters_reference }}contrast.html" class="otherLinkColour">Contrast</a></li>
        <li><a href="{{ site.parameters_reference }}deskew-mode.html" class="otherLinkColour">DeskewMode</a></li>
        <li><a href="{{ site.parameters_reference }}grayscale-enhancement-modes.html" class="otherLinkColour">GrayscaleEnhancementModes</a></li>
        <li><a href="{{ site.parameters_reference }}grayscale-transformation-modes.html" class="otherLinkColour">GrayscaleTransformationModes</a></li>
        <li><a href="{{ site.parameters_reference }}interior-angle-range-array.html" class="otherLinkColour">InteriorAngleRangeArray</a></li>
        <li><a href="{{ site.parameters_reference }}line-extraction-modes.html" class="otherLinkColour">LineExtractionModes</a></li>
        <li><a href="{{ site.parameters_reference }}max-thread-count.html" class="otherLinkColour">MaxThreadCount</a></li>
        <li><a href="{{ site.parameters_reference }}max-total-image-dimension.html" class="otherLinkColour">MaxTotalImageDimension</a></li>
        <li><a href="{{ site.parameters_reference }}page-size.html" class="otherLinkColour">PageSize</a></li>
        <li><a href="{{ site.parameters_reference }}quadrilateral-detection-modes.html" class="otherLinkColour">QuadrilateralDetectionModes</a></li>
        <li><a href="{{ site.parameters_reference }}region-predetection-modes.html" class="otherLinkColour">RegionPredetectionModes</a></li>
        <li><a href="{{ site.parameters_reference }}scale-down-threshold.html" class="otherLinkColour">ScaleDownThreshold</a></li>
        <li><a href="{{ site.parameters_reference }}text-filter-modes.html" class="otherLinkColour">TextFilterModes</a></li>
        <li><a href="{{ site.parameters_reference }}texture-detection-modes.html" class="otherLinkColour">TextureDetectionModes</a></li>
        <li><a href="{{ site.parameters_reference }}timeout.html" class="otherLinkColour">Timeout</a></li>
    </ul>
</li>