<style>
    #cp-header .action-buttons { display: none; }
    #mdHeader { border-bottom: 0!important; }
    #sideBarCnt.sidebar-fixed { position: fixed; top: 88px; max-height: unset; }
    .rightSideMenu.rsm-fixed { position: fixed; top: 100px; }
    #docHead { top: 151px; }
    .productMenu .downloadBtn:hover { color: #ffffff!important; }
    @media (max-width: 1679px){
      #docHead {
        top: 145px;
      }
    }
  </style>

<div id="DocumentNormalizer" class="main">
    <div id="DocumentNormalizerMenu" class="productMenu">
        <div class="container pcProductMenu">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="menuList">
                        <li class="title"><a class="orangeLink" href="{{site.docHomePage}}">Dynamsoft Document Normalizer</a></li>
                        <li class="item overview">
                            <a class="textUpperCase" href="{{site.docHomePage}}">Documentation</a>
                        </li>
                    </ul>
                    <a href="https://www.dynamsoft.com/document-normalizer/ask-for-quote/" class="downloadBtn fr">Get Pricing</a>
                    <a href="https://www.dynamsoft.com/document-normalizer/downloads/" target="_blank" class="downloadBtn borderBtn fr">Download <span class="hide-md">30-Day Trial</span></a>
                </div>
            </div>
        </div>
        <div class="container mobileProductMenu">
            <div class="row">
                <div class="col-xs-12">
                    <div class="productLogo"><i class="ddn-logo"></i> <i class="icon-orange-angle"></i></div>
                    <div id="dcvCurrentPage" class="fontOswald fr currentPage">Resource Base</div>
                </div>
            </div>
        </div>
        <div class="mobileProductDetailMenu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="menuList">
                            <li class="item">
                                <a class="textUpperCase" href="{{site.docHomePage}}">Documentation</a>
                            </li>
                            <li class="item">
                                <a class="textUpperCase" href="https://www.dynamsoft.com/document-normalizer/ask-for-quote/">Get Pricing</a>
                            </li>
                            <li class="item">
                                <a class="textUpperCase" href="{{site.download}}">Free Trial</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
