<li><a href="{{ site.parameters_reference_ddn }}" class="otherLinkColour">Parameter Reference</a>
    <ul>
        <li><a href="{{ site.parameters_reference_ddn }}binarization-modes.html" class="otherLinkColour">BinarizationModes</a></li>
        <li><a href="{{ site.parameters_reference_ddn }}brightness.html" class="otherLinkColour">Brightness</a></li>
        <li><a href="{{ site.parameters_reference_ddn }}colour-channel-usage-type.html" class="otherLinkColour">ColourChannelUsageType</a></li>
        <li><a href="{{ site.parameters_reference_ddn }}colour-conversion-modes.html" class="otherLinkColour">ColourConversionModes</a></li>
        <li><a href="{{ site.parameters_reference_ddn }}colour-mode.html" class="otherLinkColour">ColourMode</a></li>
        <li><a href="{{ site.parameters_reference_ddn }}content-type.html" class="otherLinkColour">ContentType</a></li>
        <li><a href="{{ site.parameters_reference_ddn }}contrast.html" class="otherLinkColour">Contrast</a></li>
        <li><a href="{{ site.parameters_reference_ddn }}deskew-mode.html" class="otherLinkColour">DeskewMode</a></li>
        <li><a href="{{ site.parameters_reference_ddn }}grayscale-enhancement-modes.html" class="otherLinkColour">GrayscaleEnhancementModes</a></li>
        <li><a href="{{ site.parameters_reference_ddn }}grayscale-transformation-modes.html" class="otherLinkColour">GrayscaleTransformationModes</a></li>
        <li><a href="{{ site.parameters_reference_ddn }}interior-angle-range-array.html" class="otherLinkColour">InteriorAngleRangeArray</a></li>
        <li><a href="{{ site.parameters_reference_ddn }}line-extraction-modes.html" class="otherLinkColour">LineExtractionModes</a></li>
        <li><a href="{{ site.parameters_reference_ddn }}max-thread-count.html" class="otherLinkColour">MaxThreadCount</a></li>
        <li><a href="{{ site.parameters_reference_ddn }}max-total-image-dimension.html" class="otherLinkColour">MaxTotalImageDimension</a></li>
        <li><a href="{{ site.parameters_reference_ddn }}page-size.html" class="otherLinkColour">PageSize</a></li>
        <li><a href="{{ site.parameters_reference_ddn }}quadrilateral-detection-modes.html" class="otherLinkColour">QuadrilateralDetectionModes</a></li>
        <li><a href="{{ site.parameters_reference_ddn }}region-predetection-modes.html" class="otherLinkColour">RegionPredetectionModes</a></li>
        <li><a href="{{ site.parameters_reference_ddn }}scale-down-threshold.html" class="otherLinkColour">ScaleDownThreshold</a></li>
        <li><a href="{{ site.parameters_reference_ddn }}text-filter-modes.html" class="otherLinkColour">TextFilterModes</a></li>
        <li><a href="{{ site.parameters_reference_ddn }}texture-detection-modes.html" class="otherLinkColour">TextureDetectionModes</a></li>
        <li><a href="{{ site.parameters_reference_ddn }}timeout.html" class="otherLinkColour">Timeout</a></li>
    </ul>
</li>