<li><a href="{{ site.parameters_reference_ddn }}" class="otherLinkColour">Parameter Reference</a>
    <ul>
        <li><a class="otherLinkColour ">Capture Vision Template</a>
            <ul>
                <li><a href="{{ site.parameters_reference }}output-raw-image.html" class="otherLinkColour">OutputRawImage</a></li>
                <li><a href="{{ site.parameters_reference }}max-parallel-tasks.html" class="otherLinkColour">MaxParallelTasks</a></li>
                <li><a href="{{ site.parameters_reference }}timeout.html" class="otherLinkColour">Timeout</a></li>
            </ul>        
        </li>
        <li><a class="otherLinkColour ">Target ROI Def</a>
            <ul>
                <li><a href="{{ site.parameters_reference }}location.html" class="otherLinkColour">Location</a></li>
                <li><a href="{{ site.parameters_reference }}pause-flag.html" class="otherLinkColour">PauseFlag</a></li>
                <li><a href="{{ site.parameters_reference }}base-target-roidef-name.html" class="otherLinkColour">BaseTargetROIDefName</a></li>
            </ul>        
        </li>
        <li><a class="otherLinkColour ">Document Normalizer Task Setting</a>
            <ul>
                <li><a href="{{ site.parameters_reference }}corner-predetection-modes.html" class="otherLinkColour">CornerPredetectionModes</a></li>
                <li><a href="{{ site.parameters_reference }}line-extraction-modes.html" class="otherLinkColour">LineExtractionModes</a></li>
                <li><a href="{{ site.parameters_reference }}brightness.html" class="otherLinkColour">Brightness</a></li>
                <li><a href="{{ site.parameters_reference }}colour-mode.html" class="otherLinkColour">ColourMode</a></li>
                <li><a href="{{ site.parameters_reference }}content-type.html" class="otherLinkColour">ContentType</a></li>
                <li><a href="{{ site.parameters_reference }}contrast.html" class="otherLinkColour">Contrast</a></li>
                <li><a href="{{ site.parameters_reference }}deskew-mode.html" class="otherLinkColour">DeskewMode</a></li>
                <li><a href="{{ site.parameters_reference }}interior-angle-range-array.html" class="otherLinkColour">InteriorAngleRangeArray</a></li>
                <li><a href="{{ site.parameters_reference }}page-size.html" class="otherLinkColour">PageSize</a></li>
                <li><a href="{{ site.parameters_reference }}quadrilateral-detection-modes.html" class="otherLinkColour">QuadrilateralDetectionModes</a></li>
                <li><a href="{{ site.parameters_reference }}base-document-normalizer-task-setting-name.html" class="otherLinkColour">BaseDocumentNormalizerTaskSettingName</a></li>
            </ul>        
        </li>
        <li><a class="otherLinkColour ">ImageParameter</a>
            <ul>
                <li><a href="{{ site.parameters_reference }}binarization-modes.html" class="otherLinkColour">BinarizationModes</a></li>
                <li><a href="{{ site.parameters_reference }}colour-conversion-modes.html" class="otherLinkColour">ColourConversionModes</a></li>
                <li><a href="{{ site.parameters_reference }}scale-up-modes.html" class="otherLinkColour">ScaleUpModes</a></li>
                <li><a href="{{ site.parameters_reference }}grayscale-enhancement-modes.html" class="otherLinkColour">GrayscaleEnhancementModes</a></li>
                <li><a href="{{ site.parameters_reference }}grayscale-transformation-modes.html" class="otherLinkColour">GrayscaleTransformationModes</a></li>
                <li><a href="{{ site.parameters_reference }}texture-detection-modes.html" class="otherLinkColour">TextureDetectionModes</a></li>
                <li><a href="{{ site.parameters_reference }}region-predetection-modes.html" class="otherLinkColour">RegionPredetectionModes</a></li>
                <li><a href="{{ site.parameters_reference }}text-detection-mode.html" class="otherLinkColour">TextDetectionMode</a></li>
                <li><a href="{{ site.parameters_reference }}colour-channel-usage-type.html" class="otherLinkColour">ColourChannelUsageType</a></li>
                <li><a href="{{ site.parameters_reference }}scale-down-threshold.html" class="otherLinkColour">ScaleDownThreshold</a></li>
                <li><a href="{{ site.parameters_reference }}if-erase-text-zone.html" class="otherLinkColour">IfEraseTextZone</a></li>
                <li><a href="{{ site.parameters_reference }}base-image-parameter-name.html" class="otherLinkColour">BaseImageParameterName</a></li>
            </ul>        
        </li>
        <li><a class="otherLinkColour ">Image Source</a>
            <ul>
                <li><a href="{{ site.parameters_reference }}type.html" class="otherLinkColour">Type</a></li>
                <li><a href="{{ site.parameters_reference }}file-filter.html" class="otherLinkColour">FileFilter</a></li>
                <li><a href="{{ site.parameters_reference }}recursive.html" class="otherLinkColour">Recursive</a></li>
                <li><a href="{{ site.parameters_reference }}pdf-reading-mode.html" class="otherLinkColour">PDFReadingMode</a></li>
            </ul>        
        </li>
        <li><a class="otherLinkColour ">Global Parameter</a>
            <ul>
                <li><a href="{{ site.parameters_reference }}max-total-image-dimension.html" class="otherLinkColour">MaxTotalImageDimension</a></li>
            </ul>        
        </li>
        <li><a class="otherLinkColour ">Shared Parameter</a>
            <ul>
                <li><a href="{{ site.parameters_reference }}max-threads-in-one-task.html" class="otherLinkColour">MaxThreadsInOneTask</a></li>
                <li><a href="{{ site.parameters_reference }}section-image-parameter-array.html" class="otherLinkColour">SectionImageParameterArray</a></li>
                <li><a href="{{ site.parameters_reference }}start-section.html" class="otherLinkColour">StartSection</a></li>
                <li><a href="{{ site.parameters_reference }}terminate-setting.html" class="otherLinkColour">TerminateSetting</a></li>
                <li><a href="{{ site.parameters_reference }}directory-path.html" class="otherLinkColour">DirectoryPath</a></li>
            </ul>        
        </li>
    </ul>
</li>