<li><a href="{{ site.cpp }}" class="otherLinkColour">C++</a>
    <ul>
        <li><a href="{{ site.cpp }}user-guide/getting-started.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.cpp_api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.cpp_api }}document-normalizer-index.html" class="otherLinkColour">Class CDocumentNormalizer</a>
                    <ul>
                        <li><a href="{{ site.cpp_api }}document-normalizer-init.html" class="otherLinkColour">Constructor and Destructor</a></li>
                        <li><a href="{{ site.cpp_api }}document-normalizer-general.html" class="otherLinkColour">General Methods</a></li>
                        <li><a href="{{ site.cpp_api }}document-normalizer-settings.html" class="otherLinkColour">Setting Methods</a></li>
                        <li><a href="{{ site.cpp_api }}document-normalizer-normalizing.html" class="otherLinkColour">Detecting and Normalizing Methods</a></li>
                        <li><a href="{{ site.cpp_api }}document-normalizer-result.html" class="otherLinkColour">Result Methods</a></li>
                    </ul>
                </li>
                <li><a>Auxiliary Classes</a>
                    <ul>
                        <li><a href="{{ site.cpp_api }}detected-quad-result.html" class="otherLinkColour">CDetectedQuadResult</a></li>
                        <li><a href="{{ site.cpp_api }}detected-quad-result-array.html" class="otherLinkColour">CDetectedQuadResultArray</a></li>
                        <li><a href="{{ site.cpp_api }}image-data.html" class="otherLinkColour">CImageData</a></li>
                        <li><a href="{{ site.cpp_api }}license-manager.html" class="otherLinkColour">CLicenseManager</a></li>
                        <li><a href="{{ site.cpp_api }}normalized-image-result.html" class="otherLinkColour">CNormalizedImageResult</a></li>
                        <li><a href="{{ site.cpp_api }}point.html" class="otherLinkColour">CPoint</a></li>
                        <li><a href="{{ site.cpp_api }}quadrilateral.html" class="otherLinkColour">CQuadrilateral</a></li>
                    </ul>
                </li>
                <li><a>Enumerations</a>
                    <ul>
                        <li><a href="{{ site.enumerations }}image-pixel-format.html?src=cpp" class="otherLinkColour">ImagePixelFormat</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.enumerations }}error-code.html?src=cpp" class="otherLinkColour">Error Codes</a></li>
            </ul>
        </li>
        <li><a href="{{ site.cpp_release_notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.cpp_release_notes }}cpp-1.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>