<li><a href="{{ site.cpp }}" class="otherLinkColour">C++</a>
    <ul>
        <li><a href="{{ site.cpp }}api-reference/" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.cpp }}api-reference/primary-api/" class="otherLinkColour">Class ContentNormalizer</a></li>
                <li><a href="{{ site.c_cpp_struct }}?src=cpp" class="otherLinkColour">Structs</a></li>
                <li><a href="{{ site.enumerations }}?src=cpp" class="otherLinkColour">Enumerations</a></li>
            </ul>
        </li>
    </ul>
</li>