<li><a href="{{ site.c }}" class="otherLinkColour">C Language</a>
    <ul>
        <li><a href="{{ site.c }}api-reference/" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.c }}api-reference/primary-api/" class="otherLinkColour">Primary API</a></li>
                <li><a href="{{ site.c_cpp_struct }}?src=c" class="otherLinkColour">Structs</a>
                    <ul>
                        <li><a href="{{ site.c_cpp_struct }}ddn-further-modes.html?src=c" class="otherLinkColour">DDN_FurtherModes</a></li>
                        <li><a href="{{ site.c_cpp_struct }}ddn-normalization-settings.html?src=c" class="otherLinkColour">DDN_NormalizationSettings</a></li>
                        <li><a href="{{ site.c_cpp_struct }}ddn-result.html?src=c" class="otherLinkColour">DDN_Result</a></li>
                        <li><a href="{{ site.c_cpp_struct }}ddn-runtime-settings.html?src=c" class="otherLinkColour">DDN_RuntimeSettings</a></li>
                        <li><a href="{{ site.c_cpp_common_struct }}dm-point.html?src=c" class="otherLinkColour">DM_Point</a></li>
                        <li><a href="{{ site.c_cpp_common_struct }}image-data.html?src=c" class="otherLinkColour">ImageData</a></li>
                        <li><a href="{{ site.c_cpp_common_struct }}quadrilateral.html?src=c" class="otherLinkColour">Quadrilateral</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.enumerations }}?src=c" class="otherLinkColour">Enumerations</a></li>
            </ul>
        </li>
    </ul>
</li>