<li><a href="{{ site.ios }}" class="otherLinkColour">iOS</a>
    <ul>
        <li><a href="{{ site.ios }}user-guide.html" class="otherLinkColour">User Guide</a>
        </li>    
        <li><a href="{{ site.ios }}samples/index.html" class="otherLinkColour">Demo & Samples</a>
            <ul>
                <li><a href="{{ site.ios }}samples/helloworld.html" class="otherLinkColour">HelloWorld</a></li>
            </ul>
        </li>
        <li><a href="{{ site.ios_api }}index.html" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.ios_api }}document-normalizer-index.html" class="otherLinkColour">DynamsoftDocumentNormalizer Class</a>
                    <ul>
                        <li><a href="{{ site.ios_api }}document-normalizer-init.html" class="otherLinkColour">Initialization Methods</a></li>
                        <li><a href="{{ site.ios_api }}document-normalizer-video.html" class="otherLinkColour">Video Detecting Methods</a></li>
                        <li><a href="{{ site.ios_api }}document-normalizer-normalizing.html" class="otherLinkColour">Detect and Normalize Methods</a></li>
                        <li><a href="{{ site.ios_api }}document-normalizer-settings.html" class="otherLinkColour">Runtime Settings Methods</a></li>
                        <li><a href="{{ site.ios_api }}document-normalizer-general.html" class="otherLinkColour">General Methods</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.ios_api }}auxiliary-index.html" class="otherLinkColour">Auxiliary Classes</a>
                    <ul>
                        <li><a href="{{ site.ios_api }}quadrilateral.html" class="otherLinkColour">iQuadrilateral</a></li>
                        <li><a href="{{ site.ios_api }}image-data.html" class="otherLinkColour">iImageData</a></li>
                        <li><a href="{{ site.ios_api }}license-manager.html" class="otherLinkColour">DynamsoftLicenseManager</a></li>
                        <li><a href="{{ site.ios_api }}detected-quad-result.html" class="otherLinkColour">iDetectedQuadResult</a></li>
                        <li><a href="{{ site.ios_api }}normalized-image-result.html" class="otherLinkColour">iNormalizedImageResult</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.ios_api }}interface-index.html" class="otherLinkColour">Interfaces</a>
                    <ul>
                        <li><a href="{{ site.ios_api }}detect-result-listener.html" class="otherLinkColour">DetectResultListener</a></li>
                        <li><a href="{{ site.ios_api }}license-verification-listener.html" class="otherLinkColour">LicenseVerificationListener</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.ios_release_notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.ios_release_notes }}ios-1.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>
