<li><a href="{{ site.xamarin }}" class="otherLinkColour">xamarin</a>
    <ul>
        <li><a href="{{ site.xamarin }}user-guide.html" class="otherLinkColour">User Guide</a>
        </li>
           <!--
        <li><a href="{{ site.xamarin }}samples/index.html" class="otherLinkColour">Demo & Samples</a>
            <ul>
                <li><a href="{{ site.xamarin }}samples/helloworld.html" class="otherLinkColour">HelloWorld</a></li>
            </ul>
        </li>  -->
        <li><a href="{{ site.xamarin_api }}index.html" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.xamarin_api }}auxiliary-index.html" class="otherLinkColour">nameSpace DDNXamarin</a>
                    <ul>
                        <li><a href="{{ site.xamarin_api }}quadrilateral.html" class="otherLinkColour">IDocumentNormalizer</a></li>
                        <li><a style="cursor:pointer;color:#3c3c3c">Auxiliary Classes/Interfaces</a>
                            <ul>                                
                                <li><a href="{{ site.xamarin_api }}quadrilateral.html" class="otherLinkColour">Class Quadrilateral</a></li>
                                <li><a href="{{ site.xamarin_api }}image-data.html" class="otherLinkColour">Class ImageData</a></li>
                                <li><a href="{{ site.xamarin_api }}detected-quad-result.html" class="otherLinkColour">Class DetectedQuadResult</a></li>
                                <li><a href="{{ site.xamarin_api }}normalized-image-result.html" class="otherLinkColour">Class NormalizedImageResult</a></li>
                                <li><a href="{{ site.xamarin_api }}license-manager.html" class="otherLinkColour">Interface ILicenseManager</a></li>
                                <li><a href="{{ site.xamarin_api }}detect-result-listener.html" class="otherLinkColour">Interface IDetectResultListener</a></li>
                                <li><a href="{{ site.xamarin_api }}license-verification-listener.html" class="otherLinkColour">Interface ILicenseVerificationListener</a></li>
                            </ul>
                        </li>
                    </ul>  
                </li>
                <li><a>Enumerations</a>
                    <ul>
                        <li><a href="{{ site.enumerations }}image-pixel-format.html?src=xamarin" class="otherLinkColour">EnumImagePixelFormat</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <!--
        <li><a href="{{ site.xamarin_release_notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.xamarin_release_notes }}xamarin-1.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>-->
    </ul>
</li>
