<li><a href="{{ site.android }}" class="otherLinkColour">Android</a>
    <ul>
        <li><a href="{{ site.android }}user-guide.html" class="otherLinkColour">User Guide</a>
        </li>    
        <li><a href="{{ site.android }}samples/index.html" class="otherLinkColour">Demo & Samples</a>
            <ul>
                <li><a href="{{ site.android }}samples/helloworld.html" class="otherLinkColour">HelloWorld</a></li>
            </ul>
        </li>
        <li><a href="{{ site.android_api }}index.html" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.android_api }}document-normalizer-index.html" class="otherLinkColour">DocumentNormalizer Class</a>
                    <ul>
                        <li><a href="{{ site.android_api }}document-normalizer-init.html" class="otherLinkColour">Initialization Methods</a></li>
                        <li><a href="{{ site.android_api }}document-normalizer-video.html" class="otherLinkColour">Video Detecting Methods</a></li>
                        <li><a href="{{ site.android_api }}document-normalizer-normalizing.html" class="otherLinkColour">Detect and Normalize Methods</a></li>
                        <li><a href="{{ site.android_api }}document-normalizer-settings.html" class="otherLinkColour">Runtime Settings Methods</a></li>
                        <li><a href="{{ site.android_api }}document-normalizer-general.html" class="otherLinkColour">General Methods</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.android_api }}auxiliary-index.html" class="otherLinkColour">Auxiliary Classes</a>
                    <ul>
                        <li><a href="{{ site.android_api }}quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                        <li><a href="{{ site.android_api }}image-data.html" class="otherLinkColour">ImageData</a></li>
                        <li><a href="{{ site.android_api }}license-manager.html" class="otherLinkColour">LicenseManager</a></li>
                        <li><a href="{{ site.android_api }}detected-quad-result.html" class="otherLinkColour">DetectedQuadResult</a></li>
                        <li><a href="{{ site.android_api }}normalized-image-result.html" class="otherLinkColour">NormalizedImageResult</a></li>
                        <li><a href="{{ site.android_api }}document-normalizer-exception.html" class="otherLinkColour">DocumentNormalizerException</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.android_api }}camera-enhancer/index.html" class="otherLinkColour">Camera Enhancer Library</a>
                    <ul>
                        <li><a href="{{ site.android_api }}camera-enhancer/camera-enhancer.html" class="otherLinkColour">CameraEnhancer</a></li>
                        <li><a href="{{ site.android_api }}camera-enhancer/guide-of-drawing-items.html" class="otherLinkColour">UI Classes</a>
                            <ul>
                                <li><a href="{{ site.android_api }}camera-enhancer/dcecameraview.html" class="otherLinkColour">DCECameraView</a></li>
                                <li><a href="{{ site.android_api }}camera-enhancer/dceimageeditorview.html" class="otherLinkColour">DCEImageEditorView</a></li>
                            </ul>
                        </li>
                        <li><a style="cursor:pointer;color:#3c3c3c">Auxiliary Classes</a>
                            <ul>
                                <li><a href="{{ site.android_api }}camera-enhancer/dceframe.html" class="otherLinkColour">DCEFrame</a></li>
                                <li><a href="{{ site.android_api }}camera-enhancer/dcedrawinglayer.html" class="otherLinkColour">DCEDrawingLayer</a></li>
                                <li><a href="{{ site.android_api }}camera-enhancer/drawingitem.html" class="otherLinkColour">DrawingItem</a></li>
                                <li><a href="{{ site.android_api }}camera-enhancer/drawingitem-quad.html" class="otherLinkColour">QuadDrawingItem</a></li>
                                <li><a href="{{ site.android_api }}camera-enhancer/drawingitem-rect.html" class="otherLinkColour">RectDrawingItem</a></li>
                                <li><a href="{{ site.android_api }}camera-enhancer/drawingitem-text.html" class="otherLinkColour">TextDrawingItem</a></li>
                                <li><a href="{{ site.android_api }}camera-enhancer/drawingstyle.html" class="otherLinkColour">DrawingStyle</a></li>
                                <li><a href="{{ site.android_api }}camera-enhancer/drawingstylemanager.html" class="otherLinkColour">DrawingStyleManager</a></li>
                                <li><a href="{{ site.android_api }}camera-enhancer/region-definition.html" class="otherLinkColour">RegionDefinition</a></li>
                            </ul>
                        </li>
                        <li><a style="cursor:pointer;color:#3c3c3c">Interfaces</a>
                            <ul>
                                <li><a href="{{ site.android_api }}camera-enhancer/interface-dcecamerastatelistener.html" class="otherLinkColour">DCECameraStateListener</a></li>
                                <li><a href="{{ site.android_api }}camera-enhancer/interface-dceframelistener.html" class="otherLinkColour">DCEFrameListener</a></li>
                                <li><a href="{{ site.android_api }}camera-enhancer/interface-dcephotolistener.html" class="otherLinkColour">DCEPhotoListener</a></li>
                            </ul>
                        </li>
                        <li><a style="cursor:pointer;color:#3c3c3c">Enumerations</a>
                            <ul>
                                <li><a href="{{ site.android_api }}camera-enhancer/enum-enhancer-features.html" class="otherLinkColour">EnumEnhancerFeatures</a></li>
                                <li><a href="{{ site.android_api }}camera-enhancer/enum-focus-mode.html" class="otherLinkColour">EnumFocusMode</a></li>
                                <li><a href="{{ site.android_api }}camera-enhancer/enum-frame-quality.html" class="otherLinkColour">EnumFrameQuality</a></li>
                                <li><a href="{{ site.android_api }}camera-enhancer/enum-camera-state.html" class="otherLinkColour">EnumCameraState</a></li>
                                <li><a href="{{ site.android_api }}camera-enhancer/enum-resolution.html" class="otherLinkColour">EnumResolution</a></li>
                                <li><a href="{{ site.android_api }}camera-enhancer/enum-drawing-item-state.html" class="otherLinkColour">EnumDrawingItemState</a></li>
                                <li><a href="{{ site.android_api }}camera-enhancer/enum-drawing-item-media-type.html" class="otherLinkColour">EnumDrawingItemMeidaType</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="{{ site.android_api }}interface-index.html" class="otherLinkColour">Interfaces</a>
                    <ul>
                        <li><a href="{{ site.android_api }}detect-result-listener.html" class="otherLinkColour">DetectResultListener</a></li>
                        <li><a href="{{ site.android_api }}license-verification-listener.html" class="otherLinkColour">LicenseVerificationListener</a></li>
                    </ul>
                </li>
                <li><a>Enumerations</a>
                    <ul>
                        <li><a href="{{ site.enumerations }}image-pixel-format.html?src=android" class="otherLinkColour">EnumImagePixelFormat</a></li>
                        <li><a href="{{ site.enumerations }}error-code.html?src=android" class="otherLinkColour">EnumDMErrorCode</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.android_release_notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.android_release_notes }}android-1.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>
