<li><a href="{{ site.c }}" class="otherLinkColour">C</a>
    <ul>
        <li><a href="{{ site.c }}user-guide/getting-started.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.c_api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a>Global Functions</a>
                    <ul>
                        <li><a href="{{ site.c_api }}document-normalizer-init.html" class="otherLinkColour">Initialize and Destroy Functions</a></li>
                        <li><a href="{{ site.c_api }}document-normalizer-general.html" class="otherLinkColour">General Methods</a></li>
                        <li><a href="{{ site.c_api }}document-normalizer-settings.html" class="otherLinkColour">Setting Methods</a></li>
                        <li><a href="{{ site.c_api }}document-normalizer-normalizing.html" class="otherLinkColour">Detecting and Normalizing Methods</a></li>
                        <li><a href="{{ site.c_api }}document-normalizer-result.html" class="otherLinkColour">Result Methods</a></li>
                    </ul>
                </li>
                <li><a>Structs</a>
                    <ul>
                        <li><a href="{{ site.c_api }}detected-quad-result.html" class="otherLinkColour">DetectedQuadResult</a></li>
                        <li><a href="{{ site.c_api }}detected-quad-result-array.html" class="otherLinkColour">DetectedQuadResultArray</a></li>
                        <li><a href="{{ site.c_api }}point.html" class="otherLinkColour">DM_Point</a></li>
                        <li><a href="{{ site.c_api }}image-data.html" class="otherLinkColour">ImageData</a></li>
                        <li><a href="{{ site.c_api }}normalized-image-result.html" class="otherLinkColour">NormalizedImageResult</a></li>
                        <li><a href="{{ site.c_api }}quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                    </ul>
                </li>
                <li><a>Enumerations</a>
                    <ul>
                        <li><a href="{{ site.enumerations }}binarization-mode.html?src=c" class="otherLinkColour">BinarizationMode</a></li>
                        <li><a href="{{ site.enumerations }}colour-conversion-mode.html?src=c" class="otherLinkColour">ColourConversionMode</a></li>
                        <li><a href="{{ site.enumerations }}content-type.html?src=c" class="otherLinkColour">ContentType</a></li>
                        <li><a href="{{ site.enumerations }}deskew-mode.html?src=c" class="otherLinkColour">DeskewMode</a></li>
                        <li><a href="{{ site.enumerations }}grayscale-enhancement-mode.html?src=c" class="otherLinkColour">GrayscaleEnhancementMode</a></li>
                        <li><a href="{{ site.enumerations }}grayscale-transformation-mode.html?src=c" class="otherLinkColour">GrayscaleTransformationMode</a></li>
                        <li><a href="{{ site.enumerations }}image-colour-mode.html?src=c" class="otherLinkColour">ImageColourMode</a></li>
                        <li><a href="{{ site.enumerations }}image-pixel-format.html?src=c" class="otherLinkColour">ImagePixelFormat</a></li>
                        <li><a href="{{ site.enumerations }}line-extraction-mode.html?src=c" class="otherLinkColour">LineExtractionMode</a></li>
                        <li><a href="{{ site.enumerations }}quadrilateral-detection-mode.html?src=c" class="otherLinkColour">QuadrilateralDetectionMode</a></li>
                        <li><a href="{{ site.enumerations }}region-predetection-mode.html?src=c" class="otherLinkColour">RegionPredetectionMode</a></li>
                        <li><a href="{{ site.enumerations }}text-filter-mode.html?src=c" class="otherLinkColour">TextFilterMode</a></li>
                        <li><a href="{{ site.enumerations }}texture-detection-mode.html?src=c" class="otherLinkColour">TextureDetectionMode</a></li>
                        <li><a href="{{ site.enumerations }}error-code.html?src=c" class="otherLinkColour">EnumDMErrorCode</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.c_release_notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.c_release_notes }}c-1.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>