<li><a href="{{ site.xamarin }}" class="otherLinkColour">Xamarin.Forms</a>
    <ul>
        <li><a href="{{ site.xamarin }}user-guide.html" class="otherLinkColour">User Guide</a>
        </li>
           <!--
        <li><a href="{{ site.xamarin }}samples/index.html" class="otherLinkColour">Demo & Samples</a>
            <ul>
                <li><a href="{{ site.xamarin }}samples/helloworld.html" class="otherLinkColour">HelloWorld</a></li>
            </ul>
        </li>  -->
        <li><a href="{{ site.xamarin_api }}index.html" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a style="cursor:pointer;color:#3c3c3c">namespace DDNXamarin</a>
                    <ul>
                        <li><a href="{{ site.xamarin_api }}document-normalizer.html" class="otherLinkColour">IDocumentNormalizer</a></li>
                        <li><a style="cursor:pointer;color:#3c3c3c">Auxiliary Classes/Interfaces</a>
                            <ul>
                                <li><a href="{{ site.xamarin_api }}quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                                <li><a href="{{ site.xamarin_api }}image-data.html" class="otherLinkColour">ImageData</a></li>
                                <li><a href="{{ site.xamarin_api }}detected-quad-result.html" class="otherLinkColour">DetectedQuadResult</a></li>
                                <li><a href="{{ site.xamarin_api }}normalized-image-result.html" class="otherLinkColour">NormalizedImageResult</a></li>
                                <li><a href="{{ site.xamarin_api }}camera-view.html" class="otherLinkColour">DCVCameraView</a></li>
                                <li><a href="{{ site.xamarin_api }}image-editor-view.html" class="otherLinkColour">DCVImageEditorView</a></li>
                                <li><a href="{{ site.xamarin_api }}camera-enhancer.html" class="otherLinkColour">ICameraEnhancer</a></li>
                                <li><a href="{{ site.xamarin_api }}license-manager.html" class="otherLinkColour">ILicenseManager</a></li>
                                <li><a href="{{ site.xamarin_api }}detect-result-listener.html" class="otherLinkColour">IDetectResultListener</a></li>
                                <li><a href="{{ site.xamarin_api }}license-verification-listener.html" class="otherLinkColour">ILicenseVerificationListener</a></li>
                            </ul>
                        </li>
                        <li><a style="cursor:pointer;color:#3c3c3c">Enumerations</a>
                            <ul>
                                <li><a href="{{ site.xamarin_api }}enum-image-pixel-format.html" class="otherLinkColour">EnumImagePixelFormat</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a style="cursor:pointer;color:#3c3c3c">namespace DDNXamarin.Droid</a>
                    <ul>
                        <li><a href="{{ site.xamarin_api }}droid-document-normalizer.html" class="otherLinkColour">DCVDocumentNormalizer</a></li>
                        <li><a href="{{ site.xamarin_api }}droid-camera-enhancer.html" class="otherLinkColour">DCVCameraEnhancer</a></li>
                        <li><a href="{{ site.xamarin_api }}droid-license-manager.html" class="otherLinkColour">DCVLicenseManager</a></li>
                    </ul>
                </li>
                <li><a style="cursor:pointer;color:#3c3c3c">namespace DDNXamarin.iOS</a>
                    <ul>
                        <li><a href="{{ site.xamarin_api }}ios-document-normalizer.html" class="otherLinkColour">DCVDocumentNormalizer</a></li>
                        <li><a href="{{ site.xamarin_api }}ios-camera-enhancer.html" class="otherLinkColour">DCVCameraEnhancer</a></li>
                        <li><a href="{{ site.xamarin_api }}ios-license-manager.html" class="otherLinkColour">DCVLicenseManager</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.xamarin_release_notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.xamarin_release_notes }}xamarin-1.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>
